# Verification
- The act of reviewing a single piece of data to determine whether the data is correct. Any verification that grants access can be considered authentication. #ref/2023/12/09/120659 #glossary 
## My Notes
[Notes](mynotes/verification-notes.md)

