# Verification
- The act of reviewing a single piece of data to determine whether the data is correct. Any verification that grants access can be considered authentication. [^1] #glossary 
## My Notes
[Notes](mynotes/verification-notes.md)


[^1]: [ref20231209T120659](references.md#20231209T120659)
